
.information {
    margin: 0 auto;
    width: 800px;
}

table {
    width: 800px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse ;
    
}
p {
    font-size: 20px;
}
li {
    font-size: 18px;
}
